* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(146, 204, 205);
  --secondary-color: rgb(68, 88, 118);
  --third-color: rgb(49, 52, 61);
}
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(237, 237, 246);
}

/* Header Section */
header {
  background-color: var(--third-color);
}
.inner-header {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  max-width: 1500px;
  margin: 0 auto;
}
.title {
  background-color: var(--primary-color);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}
.title p a {
  text-decoration: none;
  color: var(--third-color);
  font-size: 45px;
  font-weight: bold;
}
.nav {
  display: flex;
}
.nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 400px;
}
.nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 5px 10px;
  border-bottom: 4px solid var(--primary-color);
  font-size: large;
}

/* Hero Section */
.hero {
  background-image: url(images/hero.jpg);
  background-size: cover;
  height: 250px;
  display: flex;
  position: relative;
}
.hero div {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.hero div div {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 25px;
}
.hero div div h1 {
  background-color: var(--primary-color);
  font-size: xx-large;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  color: var(--third-color);
}
/* Wrapper */
.wrapper {
  padding: 15px 50px;
  max-width: 1500px;
  margin: 0 auto;
  background-color: rgb(237, 238, 246);
}

/* About Me Section */
.content-container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}
.section-title {
  width: 150px;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}
.section-title h3 {
  color: var(--secondary-color);
  font-size: 30px;
  text-align: end;
}
.content {
  border-left: 5px solid var(--secondary-color);
  padding: 15px 40px;
}
.bio {
  color: var(--secondary-color);
  font-size: medium;
  padding-bottom: 15px;
}

/* Work */
.web-apps-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.web-app-container {
  border: 5px solid var(--primary-color);
  width: 49.1%;

  height: 200px;
  position: relative;
  margin: 5px;
  background-image: url(images/trial-generic-banner.jpg);
  background-size: cover;
  opacity: 0.75;
  transition: 0.5s;
}
.web-app-title {
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 100px;
  padding: 10px 5px;
  margin-bottom: 10px;
  margin-left: 0;
  color: rgb(59, 60, 62);
}
.web-app-title p {
  font-size: small;
}
.Run-buddy {
  background-image: url(images/hero-bg.jpg);
  background-size: 100%;
  width: 100%;
  height: 400px;
}
.Run-buddy a {
  width: 100%;
  height: 100%;
}
.ShowGo {
  background-image: url(images/CaptureShowGo1.PNG);
}
.upGrad {
  background-image: url(images/upgrad.PNG);
}
.web-app-container:hover {
  opacity: 1;
  transition: 0.5s;
}

/* Contact Section */

.contact-wrapper {
  display: flex;
  width: 100%;
}
.contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
}
.contact-content li {
  margin-bottom: 5px;
}
.contact-content li a {
  text-decoration: none;
  color: var(--third-color);
  padding: 0px 10px;
  border-bottom: 4px solid var(--secondary-color);
  font-size: large;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

/* meadia queries */
@media only screen and (max-width: 1300px) {
  .Run-buddy {
    background-image: none;
  }
  .web-app-container {
    background-image: none;
    border: none;
    height: 50px;
  }
}
@media only screen and (max-width: 798px) {
  header {
    height: 100px;
  }
}
